/* styles/layout/MainLayout.module.css */

.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*overflow: hidden;*/
  background: #ffffff;
}

.mainContent {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}